<h2>Useful Links</h2>
    <ul>
        <li><a href="https://ensemble.ent.cgi.com/sites/84827/SitePages/Community%20Home.aspx">UK Career Framework</a><br></li>
        <li><a href="https://ensemble.ent.cgi.com/sites/84827/SitePages/Community%20Home.aspx">Check your career family and level</a><br></li>
        <li><a href="https://ensemble.ent.cgi.com/sites/84827/SitePages/Community%20Home.aspx">How to change career family</a><br></li>
        <li><a href="https://ensemble.ent.cgi.com/sites/84827/SitePages/Community%20Home.aspx">Career Champions</a><br></li>
        <li><a href="https://ensemble.ent.cgi.com/sites/84827/SitePages/Community%20Home.aspx">How the framework is kept updated</a><br></li>
    </ul>