<div class="container-fluid">
        <h2>Useful Links</h2>
        <div class="links">
                <p><a href="https://ensemble.ent.cgi.com/sites/84827/SitePages/Community%20Home.aspx">UK Career Framework</a>
                <br>
                        Explore the whole UK career framework on Ensemble
                </p>
                <p><a href="https://ensemble.ent.cgi.com/sites/84827/SitePages/Community%20Home.aspx">Check your career
                                family and level</a> Check which career family and level you belong to</p>
                <p><a href="https://ensemble.ent.cgi.com/sites/84827/SitePages/Community%20Home.aspx">How to change
                                career family</a> <br> Find out how to change career families</p>
                <p><a href="https://ensemble.ent.cgi.com/sites/84827/SitePages/Community%20Home.aspx">Career
                                Champions</a> <br> Contact the career champions for each career stream</p>
                <p><a href="https://ensemble.ent.cgi.com/sites/84827/SitePages/Community%20Home.aspx">How the framework
                                is kept updated</a> <br> Learn how the career framework is kept up to date</p>
                <p><a href="https://ensemble.ent.cgi.com/sites/84827/SitePages/Community%20Home.aspx">Promotion
                                Guides</a> <br> Explore bespoke guides for promotion to each level for every stream</p>
                <p><a href="https://ensemble.ent.cgi.com/sites/84827/SitePages/Community%20Home.aspx">Training Material
                        </a> <br> Explore CGI academia for courses both technical and business related</p>
        </div>
</div>