<div class="container-fluid">
    <h2>Useful Links</h2>
    <p><a href="https://ensemble.ent.cgi.com/sites/84827/SitePages/Community%20Home.aspx">UK Career Framework</a></p>
    <p><a href="https://ensemble.ent.cgi.com/sites/84827/SitePages/Community%20Home.aspx">Check your career family and level</a></p>
    <p><a href="https://ensemble.ent.cgi.com/sites/84827/SitePages/Community%20Home.aspx">How to change career family</a></p>
    <p><a href="https://ensemble.ent.cgi.com/sites/84827/SitePages/Community%20Home.aspx">Career Champions</a></p>
    <p><a href="https://ensemble.ent.cgi.com/sites/84827/SitePages/Community%20Home.aspx">How the framework is kept updated</a></p>
</div>