<div class="container-fluid">
    <h1>UK Career Progression Tracker</h1>
</div>

<!-- Main container -->
<div class="container-fluid">
    <div class="classB">
        <div class="row table-row">
            <div class="col-sm">
            <streams></streams>
            </div>
            <div class="col-sm w-100">
                <levels></levels>
                <tasks></tasks>
            </div>
        </div>

        <button class="btn btn-primary" (click)="edit=!edit">Toggle Edit Mode</button>
    </div>
</div>

<!-- PDP generator -->
<pdp></pdp>
   