<div class="container">
    <div style="width: 68%;">
        <div class="row level-row">
            <div class="col-sm">
                <img src="../../assets/img/1200px-CGI_logo.svg.png">
                <h1>UK Career Progression Tracker</h1>
            </div>
        </div>
    </div>
</div>

<!-- Main container -->
<div class="container">
    <!-- Left panel -->
    <div class="classA">
        <links></links>
    </div>

    <!-- Centre Panel -->
    <div class="classB">
        <div class="row table-row">
            <div class="col-sm">
            <streams></streams>
            </div>
            <div class="col-sm w-100">
                <levels></levels>
                <tasks></tasks>
                <div class="progress">
                    <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuenow="75" aria-valuemin="0"
                        aria-valuemax="100" style="width: 75%">75%</div>
                </div>
            </div>
        </div>
        Edit Mode
        <label class="switch">
            <input type="checkbox">
            <span class="slider" (click)="edit=!edit"></span>
        </label>
    </div>
</div>

<!-- PDP generator -->
<div class="container">
    <pdp></pdp>
</div>
   