#particles-js {
  background: #E61937;
  background: linear-gradient(to right, rgba(227,25,55,1) 0%, rgba(168,36,101,1) 60%, rgba(82,54,171,1) 100%);
  height: 100px;
}

.level-row {
    padding-top: 5rem;
}

.table-row {
    display: flex;
}

.w-100 {
    width: 100%;
    padding-left: 1rem;
}

.container {
    display: flex;
    flex-direction: row;
    flex: 1;
    overflow: hidden;
    margin-left: 5%;
}

.classB {
    /* width: 100%; */
    margin-left: 20%;
    margin-right: 20%;
    align-items: center;
    align-self: center;
    
} 

h1 {
    text-align: left;
    float: left;
    margin-left: 20%;
}

img {
    float: left;
    display: block;
    margin-right: auto;
    width: 10%;
}

  
.container-fluid{
    background-color: #efefef;
    
}

