<h3 *ngIf="tasks.length==0">There are no tasks for {{selectedStream.name}} at Level {{selectedLevel+1}}</h3>
<table class="table" *ngIf="tasks.length>0">
    <thead>
        <tr>
            <th scope="col">Requirement</th>
            <th scope="col">Status (RAG)</th>
            <th scope="col">Notes</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let instance of tasks">
            <th scope="row">{{instance.description}}</th>
            <td>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="statusRadio{{instance._id}}" id="statusRadioRed" (click)="updateStatus(0, instance._id)" [checked]="getUserTaskStatus(instance._id)==0">
                    <input class="form-check-input" type="radio" name="statusRadio{{instance._id}}" id="statusRadioAmber" (click)="updateStatus(1, instance._id)" [checked]="getUserTaskStatus(instance._id)==1">
                    <input class="form-check-input" type="radio" name="statusRadio{{instance._id}}" id="statusRadioGreen" (click)="updateStatus(2, instance._id)" [checked]="getUserTaskStatus(instance._id)==2" >
                </div>
            </td>
            <td><input #notes type="text" class="form-control" (blur)="updateNotes(notes.value, instance._id)"/></td>
            <td *ngIf="progressionComponent.edit"><button type="button" class="btn btn-danger" (click)="deleteTask(instance._id)">Remove</button></td>
        </tr>
        <tr *ngIf="progressionComponent.edit">
            <th><input type="text" class="form-control" name="task-description" [(ngModel)]="task.description" placeholder="Description"/></th>
            <td *ngIf="task.description"><button type="button" class="btn btn-primary" (click)="createNewTask(task.description)">Add Task</button></td>
        </tr>
    </tbody>
</table>
<div *ngIf="userTasks && tasks.length>0" class="progress">
    <div id="taskProgressBar" class="progress-bar" role="progressbar" aria-valuenow="progressPct" aria-valuemin="0"
        aria-valuemax="100" [style.width.%]="progressPct">{{progressPct}}% - Level {{(selectedLevel+1)}}</div>
</div>
