<div class="list-group">
    <button 
        *ngFor='let stream of streams'
        type="button" 
        class="list-group-item list-group-item-action"
        (click)="selectStream(stream)"
        [ngClass]="{'active': getSelectedStream(stream)}">
        <button 
            *ngIf="progressionComponent.edit" 
            type="button" 
            class="btn btn-danger btn-sm" 
            (click)="deleteStream(stream._id)" 
            style="margin-right: 5px;">
        x</button>
        {{stream.name}}
    </button>
    <div>
        <input 
        *ngIf="progressionComponent.edit" 
        type="text" class="form-control" 
        name="new-stream-name" 
        [(ngModel)]="newStream.name" 
        placeholder="Stream Name"/>
        <button 
            *ngIf="progressionComponent.edit && newStream.name"
            type="button" 
            class="btn btn-success" 
            (click)="createStream(newStream)">
            +
        </button>
    </div>
</div>

