<div class="list-group">
    <button type="button" class="list-group-item list-group-item-action">
        <i class="fas fa-users"></i>
        Project and Service Management</button>
    <button type="button" class="list-group-item list-group-item-action">
        <i class="fas fa-chart-bar"></i>
        Business Analysis </button>
    <button type="button" class="list-group-item list-group-item-action">
        <i class="fas fa-flask"></i>
        Testing and Assurance  </button>
    <button type="button" class="list-group-item list-group-item-action">
        <i class="fas fa-clipboard"></i>
        Consulting and SMEs</button>
    <button type="button" class="list-group-item list-group-item-action">
        <i class="fas fa-bolt"></i>
        Agile</button>
    <button type="button" class="list-group-item list-group-item-action">
        <i class="fas fa-pencil-ruler"></i>
        Architecture </button>
    <button type="button" class="list-group-item list-group-item-action active">
        <i class="fas fa-code"></i>
        Software Engineering</button>
    <button type="button" class="list-group-item list-group-item-action">
        <i class="fas fa-graduation-cap"></i>
        Foundation</button>
    <button type="button" class="list-group-item list-group-item-action">
        <i class="fas fa-file-invoice-dollar"></i>
        Account Operations and Management</button>
    <button type="button" class="list-group-item list-group-item-action">
        <i class="fas fa-sign"></i>
        Bid Management</button>
    <button type="button" class="list-group-item list-group-item-action">
        <i class="fas fa-network-wired"></i>
        Infrastructure Services</button>
    <button type="button" class="list-group-item list-group-item-action">
        <i class="fas fa-sign-out-alt"></i>
        Business Process Outsourcing</button>
    <button type="button" class="list-group-item list-group-item-action">
        <i class="fas fa-window-restore"></i>
        Applications Management</button>
    <button type="button" class="list-group-item list-group-item-action">
        <i class="fas fa-sync-alt"></i>
        Corporate Functions</button>
</div>